<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Mapa</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .contenedor-imagen {
            margin-top: 20px;
        }

        img {
            max-width: 80%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="contenedor-imagen">
        <img src="graphql_flask\graphql\static\images\Mapa.png" alt="Mapa de colores">
    </div>
    <a href="/index">Volver a la Página Principal</a>
</body>
</html>
